@font-face {
    font-family: 'Byekan';
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/BYekan.woff) format("woff");
}

@font-face {
    font-family: 'Byekan';
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/BYekan.woff) format("woff");
}



body,
button {
    font-family: "Byekan";
}